
@media only screen and (min-device-width:721px){
  body {
    background-image: url("https://i.imgur.com/26ZiWLk.jpg");
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    color: "black";
   }
  h1 {
    font-size: 3.1vw;
    max-width: 900vw;
   }
  h2 {
    font-size: 3.4vh;
    max-width: 90vw;
   }
  h3 {
    font-size: 3.0vh;
    max-width: 80vw;
   }
  p {
   font-size: 4vmin;
  }
 
}


@media only screen and (max-device-width: 720px) {
max-width: 90vw; font-size:2.2vh;
  body {
    background-image: url("https://www.fjwestcott.com/media/catalog/product/cache/1/image/690x690/9df78eab33525d08d6e5fb8d27136e95/d/0/d0011-43x43-tn.jpg");
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    color: "black";
    word-wrap: break-word;
   }
  ul {  max-width: 90vw; font-size:2.2vh; }
  li {  max-width: 90vw; font-size:2.2vh; }
  h1 {
    font-size: 5vh;
    max-width: 100vw;;
    }
  h2 {
    font-size: 3.8vh;
    max-width: 100vw;
   }
  h3 {
   font-size: 3vh;
   max-width: 100vw;
   }
  p {
   font-size: 4vmin;
   }
}
